
.reviewsPage {
    font-family: 'Georama', sans-serif; 
    position: relative;
    width: 100%;
    min-height: 100vh; 
    background: #FFFFFF; 
}


.header {
    width: 100%;
    height: 100px;
    background: #424A44;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img, .userIcon img {
    width: 100px;
    height: 100px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navButton {
    background: #AE1111;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
}

.navButton.active {
    background: #882222; 
}


.promo-section {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 50px; 
}

.promo-text {
    font-family: 'Georama';
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #AE1111;
    margin-bottom: 20px; 
}

.rating-section p {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px; 
}


.ratings img {
    width: 50px;
    margin: 0 5px;
    opacity: 0.6;
    transition: opacity 0.3s ease, transform 0.2s;
}

.ratings img:hover, .ratings img.active {
    opacity: 1;
    transform: scale(1.1);
}


.footer {
    position: relative;
    width: 100%;
    height: 100px;
    background: #424A44;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.termsLinks a, .contactInfo span, .socialIcon a {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 20px;
}

.socialIcon {
    width: 40px;
    height: 40px;
}

.followUs {
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    margin-right: 20px;
}

.contactInfo {
    display: flex;
    align-items: center;
}

.contactInfo img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.footer {
    position: relative;
    width: 100%;
    height: auto; 
    background: #424A44;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; 
    box-sizing: border-box;
}

.termsLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.termsLinks a {
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 5px; 
}

.socials {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center; 
}


.followUs {
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    color: #FFFFFF;
    margin-right: 20px; 
}

.socialIcon {
    width: 40px;
    height: 40px;
    margin: 0 10px; 
    display: inline-block; 
}

.socialIcon img {
    width: 100%;
    height: auto; 
}

.contactInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contactInfo a {
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.contactInfo img {
    margin-right: 10px; 
}

